In [10]:
import pandas as pd
import numpy as np

In [11]:
data=pd.read_excel('DataDemand.xlsx')
data

,ضخامت,عرض,كيفيت,جنس ورق,پوشش,وضعيت سفارش,مقدار سفارش,مقدار عرضه براي توليد,مقدار در سيکل توليد,مقدار آماده به حمل,کد تخليه,مقدار حمل شده,درصد حمل شده به کل سفارش
0,0.70,1090,3.0,NaN,NaN,0,100000,111000,0,0,43,97280,97
1,0.80,800,3.0,NaN,NaN,0,200000,222000,0,0,43,200740,100
2,0.70,1305,3.0,NaN,NaN,0,400000,444000,0,0,43,403080,101
3,0.70,1305,3.0,NaN,NaN,0,400000,444000,0,0,43,439140,110
4,1.00,1290,3.0,542.0,140.0,0,120000,133200,0,0,45,112900,94
...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,1.00,940,NaN,542.0,140.0,1,100000,109000,0,0,45,0,0
373,0.68,1255,NaN,NaN,NaN,1,200000,218000,0,74568,43,15580,8
374,0.68,1305,NaN,NaN,NaN,1,200000,218000,0,56681,43,131160,66
375,0.68,1580,NaN,NaN,NaN,1,100000,109000,0,0,43,0,0
376,0.68,1135,3.0,NaN,NaN,1,150000,163500,0,0,43,82900,55

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ضخامت                     377 non-null    float64
 1   عرض                       377 non-null    int64
 2   كيفيت                     259 non-null    float64
 3   جنس ورق                   310 non-null    float64
 4   پوشش                      310 non-null    float64
 5   وضعيت سفارش               377 non-null    int64
 6   مقدار سفارش               377 non-null    int64
 7   مقدار عرضه براي توليد     377 non-null    int64
 8   مقدار در سيکل توليد       377 non-null    int64
 9   مقدار آماده به حمل        377 non-null    int64
 10  کد تخليه                  377 non-null    int64
 11  مقدار حمل شده             377 non-null    int64
 12  درصد حمل شده به کل سفارش  377 non-null    int64
dtypes: float64(4), int64(9)
memory usage: 38.4 KB

### missing value

In [12]:
data.isnull().sum()

ضخامت                         0
عرض                           0
كيفيت                       118
جنس ورق                      67
پوشش                         67
وضعيت سفارش                   0
مقدار سفارش                   0
مقدار عرضه براي توليد         0
مقدار در سيکل توليد           0
مقدار آماده به حمل            0
کد تخليه                      0
مقدار حمل شده                 0
درصد حمل شده به کل سفارش      0
dtype: int64

In [13]:
#remove attribute with most missing value

data2=data.drop('كيفيت',axis=1)
data2.isnull().sum()

ضخامت                        0
عرض                          0
جنس ورق                     67
پوشش                        67
وضعيت سفارش                  0
مقدار سفارش                  0
مقدار عرضه براي توليد        0
مقدار در سيکل توليد          0
مقدار آماده به حمل           0
کد تخليه                     0
مقدار حمل شده                0
درصد حمل شده به کل سفارش     0
dtype: int64

In [16]:
#2.replace missing value with constant value(zero)

data3=data2.fillna(0)

data3.isnull().sum()
data3.head(2)

,ضخامت,عرض,جنس ورق,پوشش,وضعيت سفارش,مقدار سفارش,مقدار عرضه براي توليد,مقدار در سيکل توليد,مقدار آماده به حمل,کد تخليه,مقدار حمل شده,درصد حمل شده به کل سفارش
0,0.7,1090,0.0,0.0,0,100000,111000,0,0,43,97280,97
1,0.8,800,0.0,0.0,0,200000,222000,0,0,43,200740,100

In [17]:
#data2=[['age','bare nu']]

data4=data2.fillna(data.mean(axis=0))
data4.head(5)

,ضخامت,عرض,جنس ورق,پوشش,وضعيت سفارش,مقدار سفارش,مقدار عرضه براي توليد,مقدار در سيکل توليد,مقدار آماده به حمل,کد تخليه,مقدار حمل شده,درصد حمل شده به کل سفارش
0,0.7,1090,498.519355,168.0,0,100000,111000,0,0,43,97280,97
1,0.8,800,498.519355,168.0,0,200000,222000,0,0,43,200740,100
2,0.7,1305,498.519355,168.0,0,400000,444000,0,0,43,403080,101
3,0.7,1305,498.519355,168.0,0,400000,444000,0,0,43,439140,110
4,1.0,1290,542.000000,140.0,0,120000,133200,0,0,45,112900,94

In [7]:
liCategory=['كيفيت','جنس ورق','پوشش','وضعيت سفارش','کد تخليه']

data[liCategory]=data[liCategory].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ضخامت                     377 non-null    float64
 1   عرض                       377 non-null    int64
 2   كيفيت                     377 non-null    object
 3   جنس ورق                   377 non-null    object
 4   پوشش                      377 non-null    object
 5   وضعيت سفارش               377 non-null    object
 6   مقدار سفارش               377 non-null    int64
 7   مقدار عرضه براي توليد     377 non-null    int64
 8   مقدار در سيکل توليد       377 non-null    int64
 9   مقدار آماده به حمل        377 non-null    int64
 10  کد تخليه                  377 non-null    object
 11  مقدار حمل شده             377 non-null    int64
 12  درصد حمل شده به کل سفارش  377 non-null    int64
dtypes: float64(1), int64(7), object(5)
memory usage: 38.4+ KB

In [8]:
data.isnull().sum()

ضخامت                       0
عرض                         0
كيفيت                       0
جنس ورق                     0
پوشش                        0
وضعيت سفارش                 0
مقدار سفارش                 0
مقدار عرضه براي توليد       0
مقدار در سيکل توليد         0
مقدار آماده به حمل          0
کد تخليه                    0
مقدار حمل شده               0
درصد حمل شده به کل سفارش    0
dtype: int64